[application]
mode                 = client
working_dir          = {{ client_application_working_dir }}
{% if ( (client_ssl_selfsigned_certs is defined) and
        (client_ssl_selfsigned_certs is boolean) ) %}
ca_certificate_file  = ''
{% else %}
ca_certificate_file  = {{ client_application_ca_certificate_file }}
{% endif %}

[client]
host              = {{ client_gateway_host }}
port              = {{ client_gateway_port }}
certificate_file  = {{ client_certificate_file }}
private_key_file  = {{ client_private_key_file }}
use_tls           = {{ client_use_tls | to_json }}

[log]
level = {{ client_log_level }}
