[application]
mode                = 'server'
cluster_id          = '{{ server_application_cluster_id }}'
working_dir         = '{{ server_application_working_dir }}'
{% if ( (server_ssl_selfsigned_certs is defined) and
        (server_ssl_selfsigned_certs is boolean) ) %}
ca_certificate_file = ''
{% else %}
ca_certificate_file = '{{ server_application_ca_certificate_file }}'
{% endif %}

[connect]
enabled              = {{ server_connect_enabled | to_json }}
hosts                = '{{ server_connect_hosts }}'
certificate_file     = '{{ server_connect_certificate_file }}'
private_key_file     = '{{ server_connect_private_key_file }}'
insecure_tls         = {{ server_connect_insecure_tls | to_json }}
server_ha_enabled    = {{ server_connect_ha_enabled | to_json }}
server_ha_is_primary = {{ server_connect_ha_is_primary | to_json }}

[log]
console_json       = {{ server_log_console_json | to_json }}
file_enabled       = {{ server_log_file_enabled | to_json }}
file_json          = {{ server_log_file_json | to_json }}
level              = '{{ server_log_level }}'
server_dir         = '{{ server_log_dir }}'
timestamp_timezone = '{{ server_log_timestamp_timezone }}'

[python-script]
requirements_file = requirements.txt

[registry]
default_overridable = true

[secrets]
encrypt_key_file = ''

[server]
listen_address        = '{{ server_listen_address }}'
port                  = {{ server_listen_port }}
distributed_execution = {{ server_distributed_execution | to_json }}
api_key_expiration    = {{ server_api_key_expiration }}
use_tls               = {{ server_use_tls | to_json }}
certificate_file      = '{{ server_certificate_file }}'
private_key_file      = '{{ server_private_key_file}}'

[store]
backend                  = 'local'
dynamodb_table_name      = 'itential.gateway5.store'
etcd_ca_certificate_file = ''
etcd_certificate_file    = ''
etcd_client_cert_auth    = false
etcd_hosts               = 'localhost:2379'
etcd_private_key_file    = ''
etcd_use_tls             = true

[terminal]
no_color           = false
timestamp_timezone = 'utc'
