[Unit]
Description=IAG Gateway Server Service
After=network.target

[Service]
User={{ gateway_server_user }}
Group={{ gateway_server_group }}
ExecStart=/opt/gateway/iagctl {{ gateway_application_mode }} --config {{ gateway_server_config_dir }}/gateway.conf
Restart=on-failure
{% if gateway_server_store_backend == 'dynamodb' or gateway_server_environment or gateway_server_connect_proxy_enabled | bool %}
EnvironmentFile={{ gateway_server_service_env_file }}
{% endif %}

[Install]
WantedBy=multi-user.target
