# Copyright (c) 2025, Itential, Inc
# GNU General Public License v3.0+ (see LICENSE or https://www.gnu.org/licenses/gpl-3.0.txt)
{% if gateway_server_store_backend == 'dynamodb' %}
AWS_ACCESS_KEY_ID={{ gateway_server_store_dynamodb_aws_access_key_id }}
AWS_SECRET_ACCESS_KEY={{ gateway_server_store_dynamodb_aws_secret_access_key }}
AWS_SESSION_TOKEN={{ gateway_server_store_dynamodb_aws_session_token }}
AWS_REGION={{ gateway_server_store_dynamodb_aws_region }}
{% endif %}
{% if gateway_server_connect_proxy_enabled | bool %}
GATEWAY_CONNECT_PROXY_URL={{ gateway_server_connect_proxy_url }}
{% if gateway_server_connect_proxy_username %}
GATEWAY_CONNECT_PROXY_USERNAME={{ gateway_server_connect_proxy_username }}
{% endif %}
{% if gateway_server_connect_proxy_password %}
GATEWAY_CONNECT_PROXY_PASSWORD={{ gateway_server_connect_proxy_password }}
{% endif %}
{% endif %}
{% if gateway_server_environment %}
{% for key, value in gateway_server_environment.items() %}
{{ key }}={{ value }}
{% endfor %}
{% endif %}
