[Unit]
Description=IAG Gateway Server Service
After=network.target

[Service]
User={{ gateway_user }}
Group={{ gateway_group }}
ExecStart=/opt/gateway/iagctl {{ gateway_application_mode }} --config {{ gateway_config_dir }}/gateway.conf
Restart=on-failure
{% if gateway_store_backend == 'dynamodb' %}
Environment=AWS_ACCESS_KEY_ID={{ gateway_store_dynamodb_aws_access_key_id }}
Environment=AWS_SECRET_ACCESS_KEY={{ gateway_store_dynamodb_aws_secret_access_key }}
Environment=AWS_SESSION_TOKEN={{ gateway_store_dynamodb_aws_session_token }}
Environment=AWS_REGION={{ gateway_store_dynamodb_aws_region }}
{% endif %}

[Install]
WantedBy=multi-user.target
