[application]
mode                = '{{ gateway_application_mode }}'
cluster_id          = '{{ gateway_application_cluster_id }}'
working_dir         = '{{ gateway_data_dir }}'
ca_certificate_file = '{{ gateway_application_ca_certs_dir }}/{{ gateway_application_ca_certificate_filename }}'

[log]
console_json       = {{ gateway_log_console_json | to_json }}
file_enabled       = {{ gateway_log_file_enabled | to_json }}
file_json          = {{ gateway_log_file_json | to_json }}
level              = '{{ gateway_log_level }}'
server_dir         = '{{ gateway_log_server_dir }}'
timestamp_timezone = '{{ gateway_log_timestamp_timezone }}'

[python-script]
requirements_file = {{ gateway_requirements_file }}

[registry]
default_overridable = {{ gateway_registry_default_overridable | to_json }}

[secrets]
encrypt_key_file = '{{ gateway_secrets_encrypt_key_file }}'

[runner]
listen_address       = '{{ gateway_listen_address }}'
port                 = {{ gateway_port }}
announcement_address = '{{ gateway_runner_announcement_address }}'
use_tls              = {{ gateway_use_tls | to_json }}
{% if gateway_use_tls %}
certificate_file      = '{{ gateway_certs_dir }}/{{ gateway_certificate_filename }}'
private_key_file      = '{{ gateway_certs_dir }}/{{ gateway_private_key_filename }}'
{% endif %}

[store]
backend                  = '{{ gateway_store_backend }}'
{% if gateway_store_backend == 'dynamodb' %}
dynamodb_table_name      = '{{ gateway_store_dynamodb_table_name }}'
{% elif gateway_store_backend == 'etcd' %}
etcd_hosts               = '{{ gateway_store_etcd_hosts }}'
etcd_use_tls             = {{ gateway_store_etcd_use_tls | to_json }}
etcd_client_cert_auth    = {{ gateway_store_etcd_client_cert_auth | to_json }}
{% if gateway_store_etcd_use_tls | bool %}
etcd_ca_certificate_file = '{{ gateway_application_ca_certs_dir }}/{{ gateway_store_etcd_ca_certificate_filename }}'
{% endif %}
{% if gateway_store_etcd_client_cert_auth | bool %}
etcd_certificate_file    = '{{ gateway_certs_dir }}/{{ gateway_store_etcd_certificate_filename }}'
etcd_private_key_file    = '{{ gateway_certs_dir }}/{{ gateway_store_etcd_private_key_filename }}'
{% endif %}
{% endif %}

[terminal]
no_color           = {{ gateway_terminal_no_color | to_json }}
timestamp_timezone = '{{ gateway_terminal_timestamp_timezone }}'
