[application]
mode                = '{{ gateway_application_mode }}'
cluster_id          = '{{ gateway_application_cluster_id }}'
working_dir         = '{{ gateway_server_runtime_data_dir }}'
{% if ( (gateway_use_selfsigned_certs is defined) and
        (gateway_use_selfsigned_certs is boolean) ) %}
ca_certificate_file = ''
{% else %}
ca_certificate_file = '{{ gateway_application_ca_certificate_file }}'
{% endif %}

[connect]
enabled              = {{ gateway_connect_enabled | to_json }}
hosts                = '{{ gateway_connect_hosts }}'
certificate_file     = '{{ gateway_connect_certificate_file }}'
private_key_file     = '{{ gateway_connect_private_key_file }}'
insecure_tls         = {{ gateway_connect_insecure_tls | to_json }}
server_ha_enabled    = {{ gateway_connect_server_ha_enabled | to_json }}
server_ha_is_primary = {{ gateway_connect_server_ha_is_primary | to_json }}

[log]
console_json       = {{ gateway_log_console_json | to_json }}
file_enabled       = {{ gateway_log_file_enabled | to_json }}
file_json          = {{ gateway_log_file_json | to_json }}
level              = '{{ gateway_log_level }}'
server_dir         = '{{ gateway_log_server_dir }}'
timestamp_timezone = '{{ gateway_log_timestamp_timezone }}'

[python-script]
requirements_file = requirements.txt

[registry]
default_overridable = true

[secrets]
encrypt_key_file = ''

[server]
listen_address        = '{{ gateway_server_listen_address }}'
port                  = {{ gateway_server_port }}
distributed_execution = {{ gateway_server_distributed_execution | to_json }}
api_key_expiration    = {{ gateway_server_api_key_expiration }}
use_tls               = {{ gateway_server_use_tls | to_json }}
certificate_file      = '{{ gateway_server_certificate_file }}'
private_key_file      = '{{ gateway_server_private_key_file}}'

[store]
backend                  = 'local'
dynamodb_table_name      = 'itential.gateway5.store'
etcd_ca_certificate_file = ''
etcd_certificate_file    = ''
etcd_client_cert_auth    = false
etcd_hosts               = 'localhost:2379'
etcd_private_key_file    = ''
etcd_use_tls             = true

[terminal]
no_color           = false
timestamp_timezone = 'utc'
